/* ===== RESET===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #0f260e;
    color: white;
    overflow-x: hidden;
}

/* =========================================================
   ====================  NAVBAR  ============================
   ========================================================= */
.navbar {
    width: 100%;
    font-family: "Corben", serif;
    height: 100px; /* altura igual ao Wix */
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px; /* espaçamento igual ao print */
    z-index: 1000;
}

.logo {
    font-family: "Corben", serif;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.35px; /* igual ao print */
    color: white;
}

.menu {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 50;
    align-items: center;
    gap: 50px; /* Espaçamento maior, igual ao Wix */
}

.menu a:hover {
    color: #6E1919;
    transition: 0.3s;
}

.menu a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.btn-comprar {
    background: white;
    color: black;
    padding: 10px 40px;
    font-size: 16px;
    cursor: pointer;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
}

.btn-comprar:hover {
    background-color: #6E1919;
    border-style: solid;
    border-color: white;
    color: white;
    transition: 0.3s;
}

/* CAPA */
.hero-sobre {
    width: 100%;
    height: 80vh;
    background: url("/1imgs/capa2.avif") center/cover no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-sobre::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}

.hero-text {
    position: relative;
    z-index: 10;
    text-align: center;
}

.hero-text h1 {
    font-family: "Corben", serif;
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 2px;
    color: white;
}

/* SEÇÕES SOBRE OS CRIADORES */
.secao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 80px;
    gap: 60px;
}

/* fundo verde */
.verde {
    background: #0f260e;
    color: white;
}

/* fundo bege */
.bege {
    background: #f0e7d8;
    color: #222;
}

/* texto + barra vertical */
.texto-box {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    width: 50%;
}

.barra {
    width: 6px;
    background: white;
    height: 100%;
}

.bege-barra {
    background: #222;
}

.conteudo h2 {
    font-family: "Bodoni Moda SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    margin-bottom: 20px;
}

.conteudo p {
    font-size: 16px;
    line-height: 1.7;
}

/* FOTOS */
.foto {
    width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
}

/* RESPONSIVO */
@media (max-width: 900px) {
    .secao {
        flex-direction: column;
        text-align: center;
    }

    .texto-box {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .barra {
        display: none;
    }

    .foto {
        width: 80%;
    }
}

/* ===== FOOTER ===== */

.footer {
    width: 100%;
    background: #0B3910;
    padding: 50px 100px;
    color: white;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
}

.footer-container {
    width: 100%;
    max-width: 1500px;
}

/* LOGO DO FOOTER */
.footer-logo {
    font-family: "Corben", serif;
    font-size: 20px;
    letter-spacing: 0.35px;
    margin-bottom: 60px;
    text-align: left;
}

/* COLUNAS DO FOOTER */
.footer-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 120px;
}

/* COLUNAS DE TEXTO */
.footer-col {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.footer-col a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.04px;
    cursor: pointer;
    transition: 0.3s ease;
}

.footer-col p {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.04px;
    transition: 0.3s ease;
}

.footer-col a:hover {
    opacity: 0.75;
}

/* MAPA */
.footer-map iframe {
    width: 420px;
    height: 220px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 18px rgba(0,0,0,0.45);
}
